//
// Layout
//

.error-container {
  display: flex;
  flex-direction: row;
}

.error-row {
  display: flex;
  flex-direction: row;
}

.error-column {
  display: flex;
  flex-direction: column;
}

.error-space-between {
  justify-content: space-between;
}

.graph-box {
  width: 62%;
  padding: $space-xl $space-md;
}

.info-box {
  width: 38%;
  padding: $space-xl $space-md;
}

.graph-percentage {
  padding: 0 0 18px;
}

.image-box {
  padding: $space-sm;
}

.left-margin {
  padding: 0 0 0 64px;
}

.current-box {
  justify-content: flex-end;
}

//
// Text
//

.current-text {
  color: $blue;
  font-weight: bold;
  line-height: 14px;
}

.error-link {
  color: $orange;
}

.error-minus {
  color: #7eb26d;
  padding: 0 $space-sm;
  line-height: 21px;
}

.graph-percentage p {
  text-align: right;
  margin: 0;
  line-height: 14px;
}

.graph-text {
  margin: 0;
}

@include media-breakpoint-down(sm) {
  .graph-box {
    width: 50%;
  }

  .info-box {
    width: 50%;
  }
}

@include media-breakpoint-down(xs) {
  .error-container {
    flex-direction: column;
  }

  .graph-box {
    width: 100%;
  }

  .info-box {
    width: 100%;
  }

  .error-full-width {
    width: 100%;
  }
}
// BMC code
/*
 * BMC page error layout
 */
.bmc_error_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bmc_error_main_text {
  margin-top: 40px;
  font-size: 32px;
}

.bmc_error_sub_text {
  margin-top: 12px;
  font-size: 18px;
}

.bmc_error_links {
  color: #33a2e5;
}
// End
